/*.footnote {
  float: right;
  width: 100%;
  display: block;
  margin-top: inherit;
  margin-bottom: inherit;
  padding-top: inherit;
  padding-bottom: inherit;
  page-break-inside: avoid;
}*/

.pagedjs_page_content .footnote:first-of-type {
  /*border: 1px solid red;*/
  
}

.footnote-break {
  width: 1in;
}

.footnote-area .footnote, .footnote-area a.uri  {
  /*margin: 0;*/
  font-size: x-small;
}

