@page {
  size: 6in 9in;
  background-color: white;
  margin: 4pc 4pc 7pc 4pc;
}

.pagedjs_page {
  --content-area-width: calc(var(--width) - var(--margin-left) - var(--margin-right));
}

/* main text content */
.level1 p {
  margin: 8pt 0;
  text-align: justify;
  line-height: 1.25;
  hyphens: auto; /* wait for Chrome 72 */
}

a {
  text-decoration: none;
}

a.uri {
  font-family: 'Source Code Pro', monospace;
  font-size: 9pt;
  color: #2e3192;
}

p a[href^="#"] {
  color: #ae2230;
  font-family: 'Alegreya';
}

.footnote-ref sup {
  line-height: 0.75;
}

/* cover */
.title {
  font-size: 20pt;
  font-style: italic;
  font-weight: bold;
  margin-top: 21pt;
  border-top: 1pt solid black;
  padding-top: 28pt;
  position: relative;
}

.title::before{
  display: block;
  position: absolute;
  top: 0;
  border-top: 4pt solid black;
  width: 27mm;
  content: '';
}

.date {
  display: none;
}

.author {
  position: absolute;
  top: 0;
  left: 0;
  margin:0;
  font-size: 9pt;
  font-weight: bold;
  font-style: italic;
}

/* dedication */
.abstract {
  text-align: center;
  line-height: 1.8;
}

h3.abstract {
  display: none;
}

/* chapter headers */
.level1 > h1 {
  font-size: 16pt;
  font-weight: normal;
  font-style: italic;
  white-space: pre-line;
  position: relative;
  line-height: 28pt;
  margin-bottom: 54pt;
}

.level1 > h1::after {
  display: block;
  content: " ";
  width: 27mm;
  height: 28pt;
  position: absolute;
  bottom: 0;
  border-top: 4pt solid black;
  border-bottom: 1pt solid black;
}

h1 > .header-section-number::after {
  content: "\000A";
}

h1 > .header-section-number {
  font-style: normal;
  font-weight: bold;
  font-size: 20pt;
  width: 100%;
  display: inline-block;
  border-bottom: 1pt solid black;
  line-height: 30pt;
  position: relative;
  top: -4pt;
}

.toc > h1, .unnumbered > h1 {
  font-weight: bold;
}

.toc > h1::before, .unnumbered > h1::before {
  display: block;
  height: 32pt;
  position: relative;
  top: -4pt;
  content: " ";
}

/* section headers */
.level2 > h2 {
  font-size: 10pt;
  margin-top: 40pt;
  padding-top: 16pt;
  border-top: 1pt solid black;
  position: relative;
}

.level2:first-child > h2 {
  margin-top: 0;
}

.level2 > h2::after{
  display: block;
  content: " ";
  width: 27mm;
  height: 28pt;
  position: absolute;
  bottom: 0;
  border-top: 4pt solid black;
}
