@media screen {
  body {
    background-color: #b3c7dc;
    margin: 0; /* for mobile */
    width: calc(var(--width) + 20px); /* for mobile */
  }
  
  /* Default layout: one column */
  .pagedjs_pages {
    max-width: var(--width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .pagedjs_page {
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
    margin-top: 8px;
    margin-bottom: 8px;
  }
}  

@media screen and (min-width: 8.5in) { 
  /* not a mobile */
  body {
    margin: auto;
    width: unset;
  }
}

@media screen and (min-width: 17in) {
  /* two-columns layout */
  .pagedjs_pages {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(2 * var(--width));
    
  }
  .pagedjs_left_page {
    box-shadow: -2px 4px 10px rgb(0, 0, 0, 0.6), inset -1px -1px 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_right_page {
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.6), inset 1px -1px 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_first_page {
    margin-left: var(--width);
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
  }
  .pagedjs_left_page:last-of-type {
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.6), inset 0 0 3px rgb(0, 0, 0, 0.6);
    margin-right: var(--width);
  }
}

